@*
    
*@
@{<h1>danh sach cac cuon sach</h1>
<form action="" method="post">
<div>
<select asp-items="@ViewBag.authors"   ></select>
</div>
<div>
<select asp-items="@ViewBag.genres"></select>
</div>

</form>